DATABASE_URL=mongodb://USER:PASSWORD@127.0.0.1:27017/scala?authSource=scala&replicaSet=myReplicaSet
PORT=5900
NODE_ENV=production
AI_BASE_URL=http://127.0.0.1:8050/api/v1

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

BCRYPT_SALT_ROUNDS=10
JWT_ACCESS_SECRET=change-this-to-a-long-random-string
JWT_ACCESS_EXPIRES_IN=7d
JWT_REFRESH_SECRET=change-this-to-another-long-random-string
REFRESH_TOKEN_EXPIRES_IN=7d
RESET_PASS_TOKEN=
RESET_PASS_TOKEN_EXPIRES_IN=
RESET_PASS_LINK=https://your-domain.com/reset-password

SMTP_EMAIL=
SMTP_PASS=
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true

S3_REGION=eu-north-1
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=

SUPER_ADMIN_1_EMAIL=
SUPER_ADMIN_1_PASSWORD=
SUPER_ADMIN_2_EMAIL=
SUPER_ADMIN_2_PASSWORD=
SUPER_ADMIN_3_EMAIL=
SUPER_ADMIN_3_PASSWORD=
